@import "variables";

.blog-bg {
  background: url("../images/posts-bg.png") no-repeat;
  background-size: cover;
  padding: 40px 0 40px 0;
  margin-bottom: 60px;

  .text-blog-bg {
    background-color: #424146;
    width: 320px;
    padding: 20px;

    p {
      font-size: 35px;
      color: $yellow-color;
      text-transform: uppercase;
      margin-bottom: 0;
    }

  }
}

.blog {
  .main-posts {
    display: flex;
    flex-wrap: wrap;
    height: 180vw;
    width: 100%;
    flex-direction: column;

    .cite {
      margin: 15px;
      width: 46%;
      background-color: $yellow-color;
      height: 70px;
      padding: 4px 42px;

      cite {
        font-size: 16px;
      }

      p {
        font-size: 11px;
        text-align: right;
      }
    }

    .post {
      margin: 15px;
      width: 46%;
      background-color: $yellow-color;
      height: 560px;

      .entry-title, .entry-content, .entry-footer {
        margin: 20px;
      }

      .entry-title {
        position: relative;

        &:before {
          content: '';
          background: url("../images/corner.png") no-repeat;
          position: absolute;
          left: 80%;
          top: -34px;
          height: 37px;
          width: 37px;
        }
      }

      .entry-header h2 a {
        font-size: 23px;
        text-transform: uppercase;
        color: #000;
        line-height: 25px;
      }

      .entry-content {
        color: #5e5e5e;
        font-size: 14px;
      }

      .entry-footer, .entry-footer a {
        font-size: 12px;
        text-align: right;
        color: #000;
      }
    }

    img {
      width: 100%;
      height: auto;
    }

    .cat-links, .tags-links, .comments-link, .post-edit-link, .more-link {
      display: none;
    }
  }
}

.pagination {
  .nav-links {
    width: 100%;
    position: relative;
    text-align: center;
    font-size: 20px;
    font-family: $font-main;
    color: #000;
    margin-bottom: 60px;
    font-weight: bold;

    .next {
      position: absolute;
      right: 0;
    }

    .prev {
      position: absolute;
      left: 0;
    }
  }

  .current {
    background-color: $yellow-color;
  }

  .page-numbers {
    margin: 0 2px;
    padding: 6px 10px;
  }

  a {
    color: #000;
  }
}